<div class="container">
  <div class="row">
    <div class="col-lg-6"style="padding: 10px;margin: auto auto;">
      <div class="card text-center" style="padding: 10px">
        <div class="card-header text-center">
          <h2>ADMIN LOGIN</h2>
        </div>
        <br/>
        <br/>
        <input type="text" placeholder="username" id="username" class="form-control">
        <br/>
        <input type="password" placeholder="password" id="password" class="form-control">
        <br/>
        <button type="button" class="btn btn-primary">submit</button>
      </div>
    </div>
  </div>
</div>
